{% extends 'base.html' %}

{% block title %}Track index{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">All the tracks you have</div>

    <div class="panel-body">
        {% if track_list %}
        <ul class="list-group">
        {% for track in track_list %}
            <a href="/track/{{track.key.id}}/" class="list-group-item"> {{ track.name }} : {{track.description}} </a>
        {% endfor %}
        </ul>
        {% else %}
            <p>No tracks are available.</p>
        {% endif %}
    </div>
</div>

<h4>Create a track: </h4>
<form class="form-horizontal" action="/track/" method="post">
    <div class="form-group">
        <label for="track_name" class="col-sm-2 control-label">Name: </label>
        <div class="col-sm-5">
            <input class="form-control" name="track_name" id="track_name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="track_description" class="col-sm-2 control-label">Description: </label>
        <div class="col-sm-5">
            <input class="form-control" name="track_description" id="track_description"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input class="btn btn-primary" type="submit" value="ADD"/>
        </div>
    </div>
</form>

{% endblock %}