{% extends 'base.html' %}

{% block title %}Track index{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">All the tracks you have</div>

    <div class="panel-body">
        {% if track_list %}
        <ul class="list-group">
        {% for track in track_list %}
            <a href="/track/{{track.key.id}}/" class="list-group-item"> {{ track.name }} : {{track.description}} </a>
        {% endfor %}
        </ul>
        {% else %}
            <p>No tracks are available.</p>
        {% endif %}
    </div>
</div>


<h4>Create a track: </h4>
<form action="/track/" method="post">
	<label for="track_name">Name: </label>
	<input name="track_name" id="track_name"/>

	<label for="track_description">Description: </label>
	<input name="track_description" id="track_description"/>

	<input type="submit" value="ADD"/>
</form>

{% endblock %}