<h3>All the tracks you have: </h3>
{% if track_list %}
    <ul>
    {% for track in track_list %}
        <li><a href="/track/{{track.key.id}}/">{{ track.name }}</a>: {{track.description}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tracks are available.</p>
{% endif %}

<h4>Create a track: </h4>
<form action="/track/" method="post">
	<label for="track_name">Name: </label>
	<input name="track_name" id="track_name"/>

	<label for="track_description">Description: </label>
	<input name="track_description" id="track_description"/>

	<input type="submit" value="ADD"/>
</form>