{% extends 'base.html' %}

{% block title %}Track index{% endblock %}

{% block content %}

{%load tz%}

<div class="panel panel-info">
    <div class="panel-heading">
        <a class="" href="/"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </div>

    <div class="panel-body">
        <h2 class="">{{track.name}}</h2>
        <p class="">{{track.description}}</p>

        <ul class="list-group">
            {% for entry in entry_list %}
                <li class="list-group-item">
                  <form class="form-horizontal" action="/entry/{{entry.key.urlsafe}}">
                    <label>{{entry.timestamp}}</label>
                    <button class="btn btn-danger btn-xs" type="submit"> X </button>
                  </form>
                </li>
            {% endfor %}
        </ul>

        <a class="btn btn-primary" href="/track/{{track.key.id}}/new">ADD</a>
        <a class="btn btn-success" href="/track/{{track.key.id}}/?calendar_days_shift={{days_shift}}">Last Month</a>
    </div>
    <div id="calendar">
      <table border="0" cellpadding="0" cellspacing="0" class="month table table-bordered">
        <tr>
          <th colspan="7" class="month">{{month_name}} {{year_name}}</th>
        </tr>
        <tr>
          <th class="mon">Mon</th><th class="tue">Tue</th>
          <th class="wed">Wed</th><th class="thu">Thu</th>
          <th class="fri">Fri</th><th class="sat">Sat</th>
          <th class="sun">Sun</th>
        </tr>
        {% for week in monthdays %}
          <tr>
            {% for day in week %}
              {% if day.0 != 0 %}
                <td class="text-{{day.1}}">{{day.0}}</td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}