{% extends 'base.html' %}

{% block title %}Track index{% endblock %}

{% block content %}

{%load tz%}

<div class="panel panel-info">
    <div class="panel-heading">
        <a class="" href="/"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </div>

    <div class="panel-body">
        <h2 class="">{{track.name}}</h2>
        <p class="">{{track.description}}</p>

        <ul class="list-group">
            {% for entry in entry_list %}
                <li class="list-group-item">{{entry.timestamp}}</li>
            {% endfor %}
        </ul>

        <a class="btn btn-primary" href="/track/{{track.key.id}}/new">ADD</a>
    </div>
</div>

{% endblock %}